<ion-content scrollY="false">
  <ion-header>
    <ion-title class="ion-text-center">{{title}}</ion-title>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <div class="text">
        <form>
          <ion-input name="depositerName" type="text" [value]="enterUserData?.name" readonly
            fill="outline"></ion-input>
          <br />
          <ion-input [(ngModel)]="amount" name="amount" type="number" [placeholder]="amountPlaceHolder"
            fill="outline"></ion-input>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
  <br />

  <div class="center">
    <ion-button type="submit" [disabled]="isButtonDisabled" (click)="generateHandler('q')">
      {{Generate_qr}}</ion-button>
    <ion-button type="submit" (click)="generateHandler('c')">Cash</ion-button>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button expand="block" fill="outline" (click)="handleBack()">
        {{back}}
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>