<ion-content [scrollY]="false">
  <ion-header>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <br /><br />
  </ion-header>
  <ion-searchbar
    [debounce]="100"
    (ionInput)="handleInput($event)"
    [placeholder]="searchPlaceHolder"
  ></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let result of endUsers">
      <ion-label (click)="handleUserRoute(result)">{{ result.name }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button (click)="Share()">
    Share
    <ion-icon slot="end" name="share-outline"></ion-icon>
  </ion-button> -->
</ion-content>
