<ion-content class="login" >
  <div class="gradient-background">
    <div class="upperlogo">
      <ion-img id="altpilogo"
        src="../../../../assets/images/logo/Alt_Pi_Logo.png"
        alt="Alt-pi logo"
      ></ion-img>
    </div>
    <div class="login-container">
      <div>
        <div class="neUpidivide">
          <!-- <ion-img
            src="../../../../assets/images/logo/neupi_logo.png"
            alt="neUpi"
          ></ion-img> -->
          <p class="daily-collection">
           Daily Collect
          </p>
          <div class="divider">
            <div class="whiteline"></div>
          </div>
          <div class="application-name">
            <h2>Collection Agent</h2>
            <h2>Application</h2>
          </div>
        </div>
      </div>
      <div style="width: 100%">
        <div>
          <form
            #login="ngForm"
            class="sales-form"
            (ngSubmit)="handleLogin(login)"
          >
          <div *ngIf="errMsg">
            <p style="color: var(--ion-color-danger)">
              {{ errMsg }}
            </p>
          </div>

          <input
            placeholder="Mobile No"
            class="form-input"
            type="number"
            name="mobile"
            required
            [(ngModel)]="Credential.mobileno"
            #mobile="ngModel"
          />

          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
            <div *ngIf="mobile.errors?.['required']">
              <p style="color: red">Mobile Number is required.</p>
            </div>
          </div>

          <input
            placeholder="Password"
            class="form-input"
            type="text"
            name="password"
            required
            [(ngModel)]="Credential.password"
            #Password="ngModel"
          />
          <div
            *ngIf="Password.invalid && (Password.dirty || Password.touched)"
          >
            <div *ngIf="Password.errors?.['required']">
              <p style="color: red">Password is required.</p>
            </div>
          </div>
            <ion-button [disabled]="login.invalid" type="submit"> Log In </ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
